#wrapper{
    position: absolute;
    width: 100%;
    left: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    position: relative;
    width: 600px;
    height: 90px;
    background-color: rgb(150, 207, 211);
}

#content {
    float:left;
    width: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#nav {
    float: right;
    position: fixed;
    top: 250px;
    left: 63%;
    background-color: rgb(150, 207, 211);
    width: 170px;
    height: 50px;
    text-align: center;
    color: gray;
    font-size: 5px;
}

#logo {
    position: absolute;
    display: block;
    width: 150px;
    top: 17%;
    left: 5px;
}

#bookshop {
    display: block;
    color: white;
    margin-left: 155px;
    font-weight: bold;
}

ul {
    position: absolute;
    top: 18px;
    right: 10px;
    list-style: none;
    margin: 0;
    padding-left: 0;   
}

li {
    background: rgb(229, 229, 229);
    width: 60px;
    padding: 3px;
    text-align: center;
    margin-left: 3px;
    position: relative;
    display: block;
    float: left;
    font-size: 10px;
    cursor: pointer;
}
    
a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
}

ul li ul {
    position: absolute;
    left: 97%;
    top: -1px;
    display: none;
    padding: 1px;
}
    
li:hover{
    background: darkgray;
}

ul li:hover > ul{
    display: block;
} 

#script {
    display: inline-block;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    width: 600px;
}

#content h5{
    margin-top: 20px;
    margin-bottom: 10px;
}

#content p {
    font-size: 5px;
    margin-bottom: 10px;
}

#content img {
    width: 200px;
    height: 270px;
}

table {
    margin: auto;
    border: 1px solid gray;
    font-size: 12px;
    width: 300px;
    border-collapse: collapse;
    cursor: pointer;
    background-color: lightgray;
}

caption {
    margin-bottom: 5px;
}

td {
    width: 100px;
    height: 20px;
}

tr {
    border-bottom: 1px solid gray;
}

table:hover tr:nth-child(odd) {
    background-color: darkgray;
}

tr:last-child {
    border-style: none;
}

#category td {
    border-right: 1px solid gray;
}

#category td:last-child {
    border-style: none;
}

#feedback{
    font-size: 12px;
}

#textbox {
    margin-top: 10px;
    width: 300px;
    height: 100px;
    font-size: 10px;
    overflow-y:scroll;
}

#button {
    width: 50px;
    padding: 1px;
    font-size: 10px;
    background-color: rgb(150, 207, 211);
    border-style: none;
    box-shadow: 2px 2px gray;
    cursor: pointer;
}

#button:active {
    position: relative;
    top: 1px;
    box-shadow: 1px 1px gray;
}

#footer {
    clear: both;
    width: 600px;
    height: 90px;
    background-color: rgb(150, 207, 211);
    text-align: right;
    font-size: 10px;
    padding-right: 5px;
}

#location {
    font-style: italic;
}

#link {
    color: blue;
    text-decoration: underline;
}

#link:visited {
    color: purple;
    text-decoration: underline;
}
